.profileGradient {
    background: -webkit-linear-gradient(45deg, rgb(30, 56, 82), rgb(24, 37, 51));
    background: -moz-linear-gradient(45deg, rgb(30, 56, 82), rgb(24, 37, 51));
    background: linear-gradient(45deg, rgb(30, 56, 82), rgb(24, 37, 51));
}
.container {
    height: 400px;
}

.contentWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    height: 60%;
    width: 100%;
}
.content,.userInfo,.userInfo>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.userInfo {
    padding-top: 15px;
    width: 90%
}
.userInfo>span {    /*userName*/
    font-weight: bold;
    font-size: 23px;
}
.userInfo>div {
    height: 40px;
}
/*img giv*/
.img {
    border: 3px solid #2B5278;
    border-radius: 100%;
    padding: 5px;
    width: 200px;
    height: 200px;

}
.inputWrapper {
    background-color: #334257;
    height: 30px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inputWrapper > input {
    background-color: #334257;
    width: 65%;
    border: none;
    font-size: 18px;

}
.inputWrapper button {
    width: 25%;
    text-align: center;
    vertical-align: middle;
    height: 25px;
    background-color: #67B8F7;
    border-radius: 5px;
    line-height: 25px;
    cursor: pointer;
}